<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered" style="font-weight: bold;">
                    Total :  $<%=totalSum%> 
                    
                </div>
                <div class="centered" style="font-weight: bold;"> 
                    <button onclick = 'Authenticate(<%= JSON.stringify(products)%>,<%= JSON.stringify(user)%>)' class="btn">Proceed to checkout!</button>
                </div>
                
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>
        <script src="/js/paymob.js"></script>